	*
	{
		MARGIN:0;
		PADDING:0;
		OUTLINE:0;
		BORDER:0;

	}

	HTML,BODY
	{
		OVERFLOW:hidden;
		HEIGHT:100%;
		WIDTH:100%;

	}

	BODY
	{
		BACKGROUND:transparent;
		POSITION:absolute;

	}

	.video
	{
		OVERFLOW:hidden;
		POSITION:relative;
		HEIGHT:100%;
		WIDTH:100%;

	}

	iframe,video,object,embed
	{
		POSITION:absolute;
		BOTTOM:0px;TOP:0px;
		RIGHT:0px;LEFT:0px;
		/*
		HEIGHT:100%;
		WIDTH:100%;
		*/

	}

		@viewport,
  @-webkit-viewport,
	@-moz-viewport,
	 @-ms-viewport,
	  @-o-viewport
		{
			HEIGHT:device-height;
			WIDTH:device-width;
			USER-ZOOM:fixed;
			MAX-ZOOM:1.0;
			MIN-ZOOM:1.0;
			ZOOM:1.0;

		}




