
/* For Email Template Start*/
/*
#email-form .text-input {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #C4C4C4 0%, #FEFFFF 30%, #FFFFFF 100%, #FFFFFF 100%, #DDDDDD 100%);
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    padding: 0.5em;
    position: relative;
}
#email-form input.text {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #666666;
    font-size: 150%;
    margin: 0;
    padding: 0;
    width: 75%;
}

#email-form .toolbar .selectbox #sel-question {
    background-position: 98% center;
    background-size: 6% auto;
}
#email-form .toolbar .selectbox #sel-question{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../img/select_arrow_down.png");
    background-origin: padding-box;
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 10% auto;
}

#email-form .toolbar .selectbox {
    
    width: 100%;
}
*/
/*
#email-component .sections .items
{
    background:#fff;
}
#email-component .sections .items .item h3.headTitle
{
    color:#086DB6;font-size:130%;border-left:none;font-weight:400;
}
#email-component .sections .items .item h3.descTitle
{
    font-size:130%;border-left:none;font-weight:600;
}
#email-form .grad
{
    padding-left:0px;
}
#email-component .sections .items .item h3.form-label
{
    color:#666666;font-size:130%;border-left:none;font-weight:600;
}
#email-component .sections .items .item .chbox-label
{
    margin-top:-4px;
}
*/
/* For Email Template End*/


/* For Email Contact Start*/
#email-contact h3.form-label
{
    color:#666666;font-size:110%;border-left:none;font-weight:800;
}
#email-contact .items .item h3.form-label
{
    color:#666666;font-size:110%;border-left:none;font-weight:600;
}
#email-contact .grad
{
    margin-top:1em;
}
#email-contact .text-input {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #C4C4C4 0%, #FEFFFF 30%, #FFFFFF 100%, #FFFFFF 100%, #DDDDDD 100%);
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    padding: 0.5em;
    position: relative;
}
#email-contact input.text {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #666666;
    font-size: 103%;
    margin: 0;
    padding: 0;
    width: 75%;
    font-weight: bold;
}
#email-contact .contact-table
{
    width:100%
}
#email-contact .compare-btn.email-btn 
{
    margin-left:-85px;
    position: relative;
    z-idex:999;
    margin-top:-11px;
}
#email-contact .button.primary
{
    height: 11px;
    
}
#email-contact .items .item .chbox-label
{
    margin-top:-6px;
}
#email-contact .items
{
    background:#fff;
}
#email-contact .email-url .grad .item li {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: url("../img/arrow_right_options.png");
    background-origin: padding-box;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-size: 6% auto;
    margin-bottom: 1px;
    padding: 1px 0;
}
    #email-contact .emailfeatures {
    list-style: none outside none;
   margin-top:1em;
}
#email-contact .emailfeatures li:before {
    color: #00AEEF;
    content: "•";
    padding-right: 0.15em;
}
#email-contact .emailfeatures li {
    list-style: none outside none;
    margin-bottom:5px;
}
#email-contact .items .item {
background: white;
margin: 0 0 1px 0;
padding: 0em 10px 1em 10px;
overflow: hidden;
}

/* For Email Contact End*/  
  