
/* added by Shishir */
.ultrabook.menus a:visited
{
    color: #0061A5 !important;
}
.ultrabook.content a:hover,a:visited
{
    color: #0061A5 !important;
}
.more a
{
   color: #0061A5 !important; 
}
.more p a
{
   color: #0061A5 !important; 
}

header #header-bar
{
    font-family: Arial,Helvetica,sans-serif;
}
header #category-menu
{
    font-family: Arial,Helvetica,sans-serif;
}

header #search-menu
{
    font-family: Arial,Helvetica,sans-serif;
}
#disclaimers #disclaimer-content.open
{
    font-family: Arial,Helvetica,sans-serif;
}
#disclaimers
{
    font-family: Arial,Helvetica,sans-serif;
}

#language
{
    font-family: Arial,Helvetica,sans-serif;
}
footer nav
{
	font-family: Arial,Helvetica,sans-serif;
}

div.ultrabook.content
{
    background: #fff;
}
.ultrabook .slide .item .inside .head h2 p
{
    color: #0061A5;
}
.ultrabook .slide-z .item .inside .laptop
{
    text-align: center;
}
/* specific to galaxy s3 menu */

html.csstransforms3d header.ics404 #category-menu.dropdown-menu {
  /*bottom: 0;*/
  left: 0;
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

html.csstransforms3d header.ics404 #category-menu.dropdown-menu.inited {
  display: block;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
}

html.csstransforms3d header.ics404 #search-menu {
  position: relative;
}
/* specific to galaxy s3 menu */

html.csstransforms3d header.ics404 #category-menu.dropdown-menu {
  /*bottom: 0;*/
  left: 0;
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

html.csstransforms3d header.ics404 #category-menu.dropdown-menu.inited {
  display: block;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
}

html.csstransforms3d header.ics404 #search-menu {
  position: relative;
}

.camp_headerimg
{
    text-align: center;
}
.ultrabook .space-2
{
    text-align: center;
}

 #social-share {
  text-align: center;
  /*padding: 1em 0 0 0;*/ 
  margin-top: 1em;
  /*overflow: hidden;*/
  
}

 #social-share span {
  display: inline-block;
  /*height: 22px;*/
 /* top:-4px */ /* added by Shishir */
 float: left;
}
 #social-share .st_sharethis_custom {
  background: url(/etc/designs/intelmobile/img/btn-share.png) no-repeat;
  width: 58px;
  background-size: 100%;
  position: relative;
  top: 0px; /* changed by shishir */
  height: 22px;
}
 #social-share .social-share-align
{
    margin: 0 auto;
  width: 278px;
}
.ultrabook .slide
{
	clear: both;
}

.ultrabook.menus nav .menus-4 img
{
    float: left;
    height: 40px;
}
.ultrabook.menus nav .menus-2 img
{
    float: left;
    height: 40px;
}