*{border:0.000px;outline:0.000px;padding:0.000px;margin:0.000px;}
html,body,div,span,img,a,applet,article,aside,audio,canvas,details,dialog,embed,figure,figcaption,footer,header,hgroup,iframe,mark,menu,nav,object,output,ruby,section,summary,time,video,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,table,caption,thead,tbody,tfoot,tr,th,td,form,fieldset,label,legend,font,abbr,acronym,address,big,blockquote,center,cite,code,del,dfn,em,i,ins,kbd,pre,q,s,samp,small,strike,strong,sub,sup,tt,u,var{background:transparent;vertical-align:baseline;font-size:100.000%;font:inherit;}
:hover,:visited,:focus{outline:0.000px;}
html{font-size:62.500%;-webkit-text-size-adjust:62.500%;-ms-text-size-adjust:62.500%;line-height:1.000;}
body{font-family:sans-serif;-webkit-font-smoothing:antialiased;position:relative;}
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1.000;}
svg:not(:root){overflow:hidden;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
h1,h2,h3,h4,h5,h6{text-rendering:optimizelegibility;}
p{}
blockquote,q{quotes:none;}blockquote:after,q:after,blockquote:before,q:before{content:"";content:none;}
b,strong,mark{font-weight:bold;}
i,em,dfn,mark{font-style:italic;}
ins{text-decoration:none;}
ol,ul{list-style-position:outside;}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:"courier new",monospace;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
abbr,acronym{font-size:90.000%;text-transform:uppercase;border-bottom:1.000px dotted;cursor:help;}
small{font-size:85.000%;}
sub,sup{font-size:75.000%;line-height:0.000px;vertical-align:baseline;position:relative;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
input,textarea,select,option,button{font-size:100.000%;vertical-align:baseline;*vertical-align:middle;}
input,button{line-height:normal;*overflow:visible;}input[disabled],button[disabled]{cursor:default;}
input::-moz-focus-inner,button::-moz-focus-inner{border:0.000px;padding:0.000px;}
table input,table button{*overflow:auto;}
button{*overflow:visible;-webkit-appearance:button;cursor:pointer;}
input[type="reset"],input[type="button"],input[type="submit"]{*overflow:visible;-webkit-appearance:button;cursor:pointer;}
input[type="radio"],input[type="checkbox"]{box-sizing:border-box;}
input[type="search"]{box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-appearance:textfield;}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;resize:vertical;height:auto;}
legend{*margin-left:-7px;white-space:normal;}
label{cursor:pointer;}
table{border-spacing:0.000px;border-collapse:collapse;}
table,tbody,thead,tr,th,td{vertical-align:top;}
caption,th,td{text-align:left;font-weight:normal;float:none !important;}
a{text-decoration:underline;}a:hover,a:visited,a:focus{text-decoration:underline;}
object,embed,video{max-width:100.000%;height:auto;}
img{border:0.000px;-ms-interpolation-mode:bicubic;vertical-align:middle;max-width:100.000%;height:auto;}
#googlemap img,#map_canvas img,#googlemap iframe,#map_canvas iframe,#googlemap object,#map_canvas object,#googlemap embed,#map_canvas embed,#googlemap video,#map_canvas video{max-width:none;}
#map_canvas img,.map_canvas img{max-width:none !important;}
hr{background:#000;border:0.000px;margin:10.000px 0.000px;display:block;height:1.000px;width:100.000%;}
br{clear:none;}
