.ultrabook .slide-0 {
  height: 473.52187499999997px;
  background-position: center -40px;
  
}
.ultrabook .slide-0 .camp_headerimg img
{
	margin-top: -45px;
}
/*
.ultrabook .slide-0 .camp_headerimg.s3_orig img
{
	margin-top: -45px;
}
*/
.ultrabook .slide-2 {
  /*margin-top: -40px;*/
}
.ultrabook .space-1 {
  height: 287px;
}
.ultrabook .space-2 {
  height: 286px;
}
.ultrabook .space-3 {
  height: 287px;
}
.ultrabook .space-4 {
  height: 288px;
}
.ultrabook .space-5 {
  height: 289px;
}
.ultrabook .slide-z .item .inside .laptop {
  height: 100px;
}
