@slideheight: 477px*(953/960);

.ultrabook
{
	.slide-0
	{
		height: @slideheight;
		background-position: center -40px;

	}

	.slide-2 {
		margin-top: -40px;
	}

	.space-1
	{
		height:287px;

	}

	.space-2
	{
		height:286px;

	}

	.space-3
	{
		height:287px;

	}

	.space-4
	{
		height:288px;

	}

	.space-5
	{
		height:289px;

	}

	.slide-z .item .inside .laptop
	{
		height:100px;

	}

}




