.ultrabook .slide-0{height:636px;}
.ultrabook .space-1{height:383px;}
.ultrabook .space-2{height:381px;}
.ultrabook .space-3{height:383px;}
.ultrabook .space-4{height:384px;}
.ultrabook .space-5{height:385px;}
.ultrabook .slide-z .item .inside .laptop{height:100px;}
