.ultrabook
{
	.slide-0
	{
		height:795px;

	}

	.space-1
	{
		height:479px;

	}

	.space-2
	{
		height:476px;

	}

	.space-3
	{
		height:479px;

	}

	.space-4
	{
		height:480px;

	}

	.space-5
	{
		height:481px;

	}

	.slide-z .item .inside .laptop
	{
		height:100px;

	}

}




