.ultrabook .slide-0{height:500px;}
.ultrabook .space-1{height:287px;}
.ultrabook .space-2{height:286px;}
.ultrabook .space-3{height:287px;}
.ultrabook .space-4{height:288px;}
.ultrabook .space-5{height:289px;}
.ultrabook .slide-z .item .inside .laptop{height:100px;}
