.ultrabook {
  /* Menus */

  /* Slide */

  /* 0 */

  /* X */

}
.ultrabook.menus nav .column {
  float: left;
  width: 48%;
}
.ultrabook.menus nav .right {
  padding-left: 5px;
}
.ultrabook.menus nav .left {
  padding-right: 5px;
}
.ultrabook .slide .item .inside {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ultrabook .slide .item .inside .title {
  margin-bottom: 10px;
}
.ultrabook .slide .item .inside .asset {
  float: right;
  text-align: right;
  margin-left: 10px;
  width: 50%;
}
.ultrabook .slide .item .inside .asset .shop {
  margin-right: -8px;
  padding-top: 2px;
  float: left; /* changed from right to left */
  width: 230px;
  height: 45px;
  margin-left:-3px;
}
.ultrabook .slide-0 .item .inside {
  /*padding-top: 25px;*/
  padding-top: 0px !important;
}
.ultrabook .slide-0 .item .inside .icon,
.ultrabook .slide-0 .item .inside .head {
  float: none;
}
.ultrabook .slide-0 .item .inside .head {
  padding: 0;
}
.ultrabook .slide-0 .item .inside .head 
{
    position:absolute !important;top:0 !important;left:0 !important;width:70%;
    padding-top: 25px !important;
    padding-left:25px !important;
}
.ultrabook .slide-0 {
  /*background-image: url("/etc/designs/intelmobile/img/ultrabook/960h/slide.0.jpg");*/
}
.ultrabook .inside_image
{
    position:relative;width:100%;
}
.ultrabook .space-1 {
 /* background-image: url("/etc/designs/intelmobile/img/ultrabook/960h/space.1.jpg");*/
}
.ultrabook .space-2 {
 /* background-image: url("/etc/designs/intelmobile/img/ultrabook/960h/space.2.jpg");*/
}
.ultrabook .space-3 {
  /*background-image: url("/etc/designs/intelmobile/img/ultrabook/960h/space.3.jpg");*/
}
.ultrabook .space-4 {
/*  background-image: url("/etc/designs/intelmobile/img/ultrabook/960h/space.4.jpg");*/
}
.ultrabook .space-5 {
  /*background-image: url("/etc/designs/intelmobile/img/ultrabook/960h/space.5.jpg");*/
}
.ultrabook .slide-z .item .inside .laptop {
  /*background-image: url("/etc/designs/intelmobile/img/ultrabook/960h/slide.z.laptop.png");*/
}
.ultrabook .landscape {
  display: block !important;
}
.ultrabook .portrait {
  display: none !important;
}
.ultrabook .body > p {
  width: 200px;
}
