.ultrabook .slide-0{height:566px;}
.ultrabook .space-1{height:350px;}
.ultrabook .space-2{height:350px;}
.ultrabook .space-3{height:350px;}
.ultrabook .space-4{height:350px;}
.ultrabook .space-5{height:351px;}
.ultrabook .slide-z .item .inside .laptop{height:100px;}
