@slideheight: 636px*(953/960);

.ultrabook
{
	.slide-0
	{
		height: @slideheight;
		background-position: center -120px;

	}

	.slide-2 {
		margin-top: -120px;
	}

	.space-1
	{
		height:383px;

	}

	.space-2
	{
		height:381px;

	}

	.space-3
	{
		height:383px;

	}

	.space-4
	{
		height:384px;

	}

	.space-5
	{
		height:385px;

	}

	.slide-z .item .inside .laptop
	{
		height:100px;

	}

}




